@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
}

.main {
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}
.main .main-container {
  width: 1748px;
  margin: 0 auto;
}

header {
  background: #00302E;
}
header .header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0;
}
header .header-wrap .header-logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .header-wrap .header-logo h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #FFFFFF;
}
header .header-wrap nav ul {
  display: flex;
  align-items: center;
  gap: 45px;
}
header .header-wrap nav ul li a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.87);
  transition: all 0.7s;
}
header .header-wrap nav ul li:hover a {
  color: #FBDDBB;
}
header .header-wrap nav ul li .button {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 33px;
  color: #00302E;
  background: #E2B887;
  border-radius: 7px;
  padding: 10px 38px;
  border: none;
  cursor: pointer;
}

.home {
  background: #00302E;
}
.home .home-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0;
}
.home .home-wrap .home-text h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 77px;
  color: #FFFFFF;
}
.home .home-wrap .home-text h1 span {
  color: #FBDDBB;
}
.home .home-wrap .home-text p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.74);
  margin: 20px 0;
  max-width: 609px;
}
.home .home-wrap .home-text .home-connection-img {
  display: flex;
  gap: 12px;
}
.home .home-wrap .home-text .home-connection-img img {
  max-width: 135px;
  max-height: 40px;
}
.home .home-wrap .home-img {
  width: 400px;
  height: 400px;
  margin: 40px;
}
.home .home-wrap .home-img img {
  width: 100%;
}

.meals {
  background: #00302E;
}
.meals .meals-wrap {
  text-align: center;
  padding: 100px 0;
}
.meals .meals-wrap h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.87);
  margin-bottom: 35px;
}
.meals .meals-wrap p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  text-align: center;
  color: rgba(255, 255, 255, 0.83);
  max-width: 609px;
  margin: 0 auto;
}
.meals .meals-wrap .meals-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px 0;
}
.meals .meals-wrap .meals-cards .meals-card {
  max-width: 250px;
  max-height: 250px;
}
.meals .meals-wrap .meals-cards .meals-card h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 33px;
  color: #FBDDBB;
  margin: 36px 0 14px 0;
}
.meals .meals-wrap .meals-cards .meals-card img {
  width: 100%;
}

.notification {
  background: #00302E;
}
.notification .notification-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 200px 0;
}
.notification .notification-wrap h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 33px;
  color: #FBDDBB;
}
.notification .notification-wrap p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.74);
  margin: 32px 0;
  max-width: 609px;
}
.notification .notification-wrap form input {
  outline: none;
  background: #F7F7F7;
  border: 1px solid #B3B3B3;
  border-radius: 5px;
  padding: 16px;
  width: 299px;
}
.notification .notification-wrap form input.placeholder {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #B2B2B2;
}
.notification .notification-wrap form button {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #00302E;
  flex: none;
  order: 0;
  flex-grow: 0;
  background: #FBDDBB;
  border-radius: 5px;
  padding: 15px 40px;
  border: none;
  cursor: pointer;
}

footer {
  background: #0B0D17;
}
footer .footer-wrap nav {
  display: flex;
  gap: 250px;
  padding: 64px 0;
}
footer .footer-wrap nav ul li {
  margin: 12px 0;
  transition: 0.7s;
}
footer .footer-wrap nav ul li h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #F4F5F7;
  padding-bottom: 12px;
}
footer .footer-wrap nav ul li a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #EEEFF4;
}
footer .footer-wrap nav li:hover a, footer .footer-wrap nav li:hover h1 {
  color: #E2B887;
}
footer .footer-wrap .footer-end {
  padding: 24px;
  border-top: 1px solid #23252E;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-wrap .footer-end h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #D9DBE1;
  margin-left: 40px;
}
footer .footer-wrap .footer-end .social-networks {
  display: flex;
  align-items: center;
  gap: 24px;
}
footer .footer-wrap .footer-end .social-networks a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #23252E;
  border-radius: 50%;
  transition: 0.7s;
}
footer .footer-wrap .footer-end .social-networks a i {
  width: 100%;
  color: white;
}
footer .footer-wrap .footer-end .social-networks a:hover i {
  color: #E2B887;
}

@media (max-width: 1780px) {
  .main {
    max-width: 1780px;
    margin: 0 auto;
  }
  .main .main-container {
    width: 1600px;
    margin: 0 auto;
  }
}
@media (max-width: 1665px) {
  .main {
    max-width: 1665px;
    margin: 0 auto;
  }
  .main .main-container {
    width: 1520px;
    margin: 0 auto;
  }
}
@media (max-width: 1570px) {
  .main {
    max-width: 1570px;
    margin: 0 auto;
  }
  .main .main-container {
    width: 1400px;
    margin: 0 auto;
  }
}
@media (max-width: 1440px) {
  .main {
    max-width: 1440px;
    margin: 0 auto;
  }
  .main .main-container {
    width: 1268px;
    margin: 0 auto;
  }
}
@media (max-width: 1310px) {
  .main {
    max-width: 1310px;
    margin: 0 auto;
  }
  .main .main-container {
    width: 1160px;
    margin: 0 auto;
  }
}
@media (max-width: 1210px) {
  .main {
    max-width: 1210px;
    margin: 0 auto;
  }
  .main .main-container {
    width: 1050px;
    margin: 0 auto;
  }
}
@media (max-width: 1100px) {
  .main {
    max-width: 1100px;
    margin: 0 auto;
  }
  .main .main-container {
    width: 992px;
    margin: 0 auto;
  }
}
@media (max-width: 992px) {
  .main {
    max-width: 992px;
    margin: 0 auto;
  }
  .main .main-container {
    width: 900px;
    margin: 0 auto;
  }
}
@media (max-width: 950px) {
  .main {
    max-width: 950px;
    margin: 0 auto;
  }
  .main .main-container {
    width: 840px;
    margin: 0 auto;
  }
}
@media (max-width: 888px) {
  .main {
    max-width: 888px;
    margin: 0 auto;
  }
  .main .main-container {
    width: 790px;
    margin: 0 auto;
  }
}
@media (max-width: 850px) {
  .main {
    max-width: 850px;
    margin: 0 auto;
  }
  .main .main-container {
    width: 748px;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .main {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 25px;
  }
  .main .main-container {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .main {
    max-width: 576px;
    margin: 0 auto;
    padding: 0 25px;
  }
  .main .main-container {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 428px) {
  .main {
    width: 428px;
    margin: 0 auto;
    padding: 0 25px;
  }
  .main .main-container {
    width: 100%;
  }
}
@media (max-width: 350px) {
  .main {
    width: 350px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .main .main-container {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */